{{define "footerhtml"}}
<footer>
    <div>
        <span style="vertical-align: middle; text-align: center; padding-top: 2px; display: inline-block;">©</span> 2020 Gobusta
    </div>
    <div>
        <a href="mailto:sample_email@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
        <a href="https://github.com/sample" target="_blank" rel="noopener noreferrer">Github</a>
        <a href="https://linkedin.com/in/sample" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
</footer>
{{end}}
