{{define "posthtml"}}
<!DOCTYPE html>
<html lang="en">

{{template "headhtml" .}}

<body>
    <div id="site" style="min-width: 800px">
        {{template "headerhtml" .}}
        <main>
            <article class="post-detail">
                <h3 class="post-title">{{ .Title }}</h3>
                <div class="post-metadata">
                    <div class="post-published_at">
                        <span>{{ .Date }}</span>
                    </div>
                </div>
                <div id="post-content">
                    {{ .Content }}
                </div>
            </article>
        </main>
		<hr>
		{{template "footerhtml" .}}
    </div>
    {{template "scripthtml" .}}
</body>

</html>
{{end}}
