{{define "posthtml"}}
<!DOCTYPE html>
<html lang="en">

{{template "headhtml" .}}

<body>
    <div id="site">
        {{template "headerhtml" .}}
        <main class="center-cont">
            <article class="post-detail">
                <h3 class="post-title">{{ .Title }}</h3>
                <div class="post-metadata">
                    <div class="post-published-at">
                        <span>{{ .Date }}</span>
                    </div>
                </div>
                <div class="post-content">
                    {{ .Content }}
                </div>
            </article>
        </main>
	{{template "footerhtml" .}}
    </div>
    {{template "scripthtml" .}}
</body>

</html>
{{end}}
